body {
  margin: 0;
  min-height: 100vh;
  background-color: #2C2B3D;
}

nav {
  margin: 0 auto 107px;
  padding-top: 71px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  Width: 1083px;
  Height: 30px;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;

  cursor: pointer;
}

span {
  font-weight: bold;
  color: #00BFA6;
}

h1 {
  font-size: 36px;

  margin: 0 auto 59px;
}

p {
  text-align: center;

  color: #C2C2C2;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  Width: 604px;
  Height: 168px;
}

main {
  margin: 0 auto 167px;

  gap: 82px;

  display: flex;

  width: 1092px;
  height: 283px;
}

a,
footer,
h1 {
  color: #FFFFFF;
}

h1,
ul,
footer {
  font-family: 'JetBrains Mono', monospace;
}

footer {
  margin: 0 auto 23px;
  text-align: center;

  width: 568px;

  font-size: 14px;
}

a {
  text-decoration: none;
}

ul li a:hover {
  color:#00BFA6;
  font-weight: bold;
  opacity: 1;
}

.line {
  margin-bottom: 27px;

  width: 568px;
  height: 0;

  border: 1px solid #00BFA6;
}

#cadeado {
  position: fixed;
  bottom: 20px;
  left: 20px;
}